src/__pycache__
src/models/__pycache__
venv/

#terraform
terraform/stacks/BeanstalkApp/.terraform/*
terraform/stacks/s3/.terraform/*
terraform/stacks/FargateApp/.terraform/*

# Ignorar lock files de Terraform
terraform/stacks/BeanstalkApp/.terraform.lock.hcl
terraform/stacks/s3/.terraform.lock.hcl
terraform/stacks/testSecret/.terraform.lock.hcl
terraform/stacks/FargateApp/.terraform.lock.hcl

# Ignorar carpetas .terraform
terraform/stacks/BeanstalkApp/.terraform/
terraform/stacks/s3/.terraform/
terraform/stacks/testSecret/.terraform/
terraform/stacks/FargateApp/.terraform/

# Ignorar planes y estados de Terraform
terraform/stacks/BeanstalkApp/.tfplan
terraform/stacks/s3/.tfplan
terraform/stacks/testSecret/.tfplan
terraform/stacks/FargateApp/.tfplan

# Ignorar tfstate y backup
terraform/stacks/s3/terraform.tfstate
terraform/stacks/s3/terraform.tfstate.backup

#Ignorar cache de terraform
.terraform
.terraform.lock.hcl
terraform/*
terraform/.terraform.lock.hcl
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/6.21.0/darwin_arm64/terraform-provider-aws_v6.21.0_x5 .terraform/
